/* Center the entire app content */
.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Vertically center the content within the viewport */
}

/* Style the page header */
h1 {
  margin-bottom: 30px;
  color: #007bff; /* Blue color for the header text */
}

/* Style the form container */
.row.justify-content-center {
  margin-bottom: 20px;
}

/* Style form inputs and button */
.form-control {
  margin-bottom: 10px;
}

/* Style the "Add A Book" button */
.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff; /* Text color for the button */
  font-weight: bold; /* Bold text for the button */
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

/* Style the table container */
.table-container {
  max-width: 800px;
}

/* Style the table */
.table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

/* Style table header */
.table thead th {
  background-color: #007bff;
  color: #fff; /* Text color for header cells */
  font-weight: bold; /* Bold text for header cells */
  text-align: left;
}

/* Style table body */
.table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Style table rows */
.table tbody tr {
  border-bottom: 10px solid #ddd;
}

/* Style table cells */
.table tbody td {
  padding: 10px;
}
